@font-face {
	src: url(../fonts/9202.otf);
	font-family: "Helvetica";	
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	--col_logo: rgb(70, 99, 67); /*логотип + фон заголовков секций на зел. фоне*/
	--bgc: rgb(143, 211, 162);/*фон header footer*/
	--col_h2: rgb(64, 124, 76);/*фон заголовков секций*/
	--col_bord: 2px solid rgb(209, 208, 208);
	--col_font_nav: rgb(255, 255, 255);/*белый для шрифта*/
	--col_font_part: rgb(243, 193, 64);/*красный для шрифта*/	
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10rem;	
	padding-right: 4rem;	
	background-color: var(--bgc);
	font-size: calc(3vw);
	font-weight: bold;
	letter-spacing: 1.2px;
}
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;	
	width: 100%;
	height: 10rem;	
	padding-right: 4rem;
	padding-left: 2rem;
	background-color: var(--bgc);
	font-size: calc(1.5vw);
	font-weight: bold;
	letter-spacing: 1.2px;
	color: var(--col_font_nav);	
}
.logo {
	background-image: url(../img/logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 30rem;
	height: 25rem;		
} 
.gorwin {
	background-image: url(../img/.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;		
} 
.whatsapp {
	display: flex;
	align-items: center;
	color: var(--col_logo);	
	text-align: center;	
}
.tel img {
	height: 6rem;
	width: 6rem;	
}
img[alt="Написать в whatsapp"] {
	height: 45px;
	width: 45px;	
}
nav>ul {
	font-size: calc(1.5vw);		
}
li {
	display: inline-block;
}
a {
	text-decoration: none;
	color: var(--col_font_nav);
	padding: 1.5rem;	
}
.second-floor li {
	display: block;
	font-size: calc(1vw);	
	padding-top: 1.5rem;
}
.retail-link {
	padding-bottom: 1.5rem;
}
section {
	padding-left: 1.5rem;
	padding-right: 1.5rem;	
}
.services {
	display: flex;
	align-items: center;
	margin-top: 12rem;
	padding: 1rem;
	border-bottom: var(--col_bord);
}
.services img {
	width: 4rem;
	height: 4rem;
	margin-left: 2rem;
	margin-right: 2rem;
}
h2 {
	font-size: 3rem;
	color: var(--col_h2);	
}
.accent {
	color: var(--col_font_part);
}
.text-about {
	padding: 1.5rem 3rem;
	font-size: 2rem;	
	text-align: justify;
}
.nav-block {
	display: flex;
	flex-direction: column;
	border: var(--col_bord);
	border-radius: 2rem;
	width: 23rem;
	height: 26rem;
	margin-bottom: 3rem;	
} 
.services-blocks {
	display: flex;
	padding: 0;
	justify-content: space-around;
}
.nav-block.services {
	width: 30rem;
	height: 40rem;
	margin-top: 4rem;
	padding: 0;
}
.title {
	background-color: var(--bgc);
	border-radius: 1.7rem;
	padding: 2rem;
	font-size: 2rem;
	text-align: center;
	color: var(--col_logo);
	width: 100%;
}
.title.block {
	height: 10rem;	
}
.title.block.third, .title.block.fourth {
	padding: 1rem;
}
.pic {
	margin: auto;			
	background-size: contain;
	background-repeat: no-repeat;
	width: 7rem;
	height: 12rem;
}
.pic.retail {
	width: 10rem;
	height: 15rem;
}
.pic.service {
	background-image: url(../img/service.png);
}
.pic.trees, .pic.landscaping, .pic.plot, .pic.pests {
	background-image: url(../img/question.png);
} 