@font-face {
	src: url(../fonts/9202.otf);
	font-family: "Helvetica";	
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	--color-basic: orange;
	--color-for-fonts: white;
	--color-for-borders: white;
	--color-for-links: black;
}
body {
	font-size: 2rem;	
	font-family: Helvetica, sans-serif;	
	line-height: 2.3rem;
	background-color: var(--color-basic);
	color: var(--color-for-fonts);
}
.header, .footer {
	height: 9rem;
	display: flex;
	justify-content: space-between;	
	align-items: center;	
	padding: 5rem;		
}
a {
	text-decoration: none;
	color: var(--color-for-links);
}
li {
	display: inline-block;		
}
.link-fun a {
	color: var(--color-for-fonts);
}
.second {
	padding/: 3rem; 
}
.main {
	background-image: url(../img/iron_maiden.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
	display: flex;
	flex-direction: column;	
}
.survey {	
	width: calc(30vw);
    padding-top: 9rem;    
}
.questions {
	width: 32rem;	  
	background-color: var(--color-basic);
	border: 3px solid var(--color-for-borders);
	box-sizing: border-box;
	border-radius: 2rem;	
	padding: 3rem;
	font-size: 2rem;	
  	display: flex;
    margin: auto;
}
input[name="fio"] input[name="e-mail"] {
  color: var(--color-for-links);
}
fieldset {
	border: none;
}
input[name="button"] {
	width: 20rem;
	background-color: rosybrown;
	border: 3px solid var(--color-for-borders);
	box-sizing: border-box;
	border-radius: 2rem;	
	margin: auto;
	margin-top: 2rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	cursor: pointer;
	color: var(--color-for-borders);
	font-size: 2rem;
}
label, input {
  display: block;
  line-height: 2.3rem;
  padding: 1rem;  
}
select {
  height: 2.3rem;
  color: var(--color-for-fonts); 
}
input[type="text"], input[name="e-mail"], select {
  width: 100%;
  background-color: var(--color-basic);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--color-for-borders);  
} 
input[type="radio"] {
	display: inline-block;
	vertical-align: middle;	
}
span {
	font-size: 1.3rem;	
}
input[name="song"] {
	margin: 1rem;
}
.message {
	font-size: 5rem;
	line-height: 5.75rem;	
	font-weight: 700;
	margin: auto;	
	padding-top: 11rem;
	padding-bottom: 11rem;
	text-align: center;
}
@media screen and (min-width: 300px) {	
	a, .copyright {
		font-size: calc(3.2vw);
	}
	.second {
		padding: 1.3rem;
	}
	.header, .footer {
		padding: 0;
		justify-content: space-around;
	} 	
	.message {
		position: absolute;
		top: 10rem;
		font-size: 2rem;
		line-height: 3rem;
		padding: 0;
		width: 100%;
		color: DarkBlue;
	}
	.survey {
		padding-bottom: 2rem;
		width: 100%;		
	}
	span {
		font-size: 2rem;	
		}
}

@media screen and (min-width: 600px) {	
	a, .copyright {
		font-size: calc(3.2vw);
	}
	.second {
		padding: 0.5rem;
	}
	.header, .footer {
		padding: 0;
		justify-content: space-around;
	} 	
	.message {
		position: absolute;
		top: 10rem;
		font-size: 2rem;
		line-height: 3rem;
		padding: 0;
		width: 100%;
	}
	.survey {
		padding-bottom: 2rem;
		width: 100%;		
	}
	span {
		font-size: 2rem;	
		}
}
@media screen and (min-width: 960px) {
	a, .copyright {
		font-size: 2.3rem;
	}
	.second {
		padding: 3rem;
	}
	.header, .footer {		
		justify-content: space-between;				
		padding: 5rem;		
	}
	.message {
		position: static;
		font-size: 5rem;
		line-height: 5.75rem;				
		padding-top: 11rem;
		padding-bottom: 11rem;		
		color: var(--color-for-fonts);
	}
	.survey {	
		width: calc(30vw);    	
	}
	span {
		font-size: 1.3rem;	
	}
} 
@media screen and (min-width: 1264px) {
	a, .copyright {
		font-size: 2.3rem;
	}
	.second {
		padding: 3rem;
	}
	.header, .footer {		
		justify-content: space-between;				
		padding: 5rem;		
	}
	.message {
		position: static;
		font-size: 5rem;
		line-height: 5.75rem;			
		padding-top: 11rem;
		padding-bottom: 11rem;		
		color: var(--color-for-fonts);
	}
	.survey {	
		width: calc(30vw);    	 
	}
	span {
		font-size: 1.3rem;	
		}
	} 
@media screen and (min-width: 1904px) {
	a, .copyright {
		font-size: 2.3rem;
	}
	.second {
		padding: 3rem;
	}
	.header, .footer {		
		justify-content: space-between;		
		padding: 5rem;		
	}
	.message {
		position: static;
		font-size: 5rem;
		line-height: 5.75rem;			
		padding-bottom: 11rem;		
		color: var(--color-for-fonts);
	}
	.survey {	
		width: calc(30vw);    	
	}
	span {
		font-size: 1.3rem;	
	}
}







