html {
	font-size: 10px;
}
.page {
	background-color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-weight: 400;
	font-style: normal;	
}
.header {	
	background-color: #FFFFFF;	
	height: 14rem;
	display: flex;
	align-items: center;
	justify-content: space-between;	
	position: fixed;
	width: 100%;
	top: 0rem;	
}
.brand {
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-left: 5rem;	
	font-size: 5rem;
	color: #E50043;
	line-height: 4.75rem;
}
.menu {	
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-right: 5rem;
	font-size: 0rem;	
}
li {
	display: inline-block;
	margin: 2.5rem;				
}
a {
	text-decoration: none;	
	color: #E50043;	
	font-size: 5rem;
}
.hero {	
	margin-top: 14rem;
	height: 95rem;
	display: flex;
	background-image: url(../img/evian_origins_logo.png);
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: center;	
}
h1 {
	margin: auto;
	font-size: 10rem;
	color: #E50043;
}
.info {	
	margin-top: 15rem;	
}
.text-info {
	margin: auto;
	width: 104rem;	
	padding: 2.4rem;	
	border: 0.3rem solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 2rem;	
	font-size: 2.5rem;	
	line-height: 2.87rem;	
	letter-spacing: 0.12rem;
}
.goods-description {
	display: flex;
	justify-content: center;	
	margin-top: 15rem;	
}
.products {
	display: flex;
	justify-content: space-around;
	width: 104rem;
}
.description {	
	text-align: center;
	margin-top: 4.8rem;	
	font-size: 2.5rem;	
	line-height: 2.87rem;
}
.picture-ingredients {
	display: flex;
	margin-top: 15.6rem;
}
.contenttext {
	margin: auto;
	display: flex;	
	justify-content: space-around;	
	font-size: 0rem;
	border: 0.3rem solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 2rem;
	width: 104rem;	
	display: flex;	
}
.pictureglass {
	margin: 3rem 8rem;
	}
.content {	
	padding: 3rem 2.5rem;	
	font-size: 2.5rem;	
	line-height: 2.87rem;
	letter-spacing: 0.12rem;
}
.first, .second {
	padding-bottom: 2.5rem;
}
.copyrighttext{
	font-size: 5rem;
	color: #FFFFFF;	
	margin-left: 5rem;	
}
.footer {
	display: flex;
	align-items: center;
	margin-top: 15rem;
	height: 14rem;
	background-color: #F8BFC7;	
}
