@font-face {
	src: url(../fonts/9202.otf);
	font-family: "Helvetica";	
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	--col_logo: rgb(70, 99, 67); /*логотип + фон заголовков секций на зел. фоне*/
	--bgc: rgb(143, 211, 162);/*фон header footer*/
	--col_h2: rgb(64, 124, 76);/*фон заголовков секций*/
	--col_bord: 2px solid rgb(209, 208, 208);
	--col_font_nav: rgb(255, 255, 255);/*белый для шрифта*/
	--col_font_part: rgb(243, 193, 64);/*красный для шрифта*/	
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10rem;	
	padding-right: 4rem;	
	background-color: var(--bgc);
	font-size: calc(3vw);
	font-weight: bold;
	letter-spacing: 1.2px;
}
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;	
	width: 100%;
	height: 10rem;	
	padding-right: 4rem;
	padding-left: 2rem;
	background-color: var(--bgc);
	font-size: calc(1.5vw);
	font-weight: bold;
	letter-spacing: 1.2px;
	color: var(--col_font_nav);	
}
.logo {
	background-image: url(../img/logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 30rem;
	height: 25rem;		
} 
.gorwin {
	background-image: url(../img/.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;		
} 
.whatsapp {
	display: flex;
	align-items: center;
	color: var(--col_logo);	
	text-align: center;	
}
.tel img {
	height: 6rem;
	width: 6rem;	
}
img[alt="Написать в whatsapp"] {
	height: 4.5rem;
	width: 4.5rem;		
}
img[alt="Приехать"] {
	height: 4.5rem;
	width: 4.5rem;
	margin-left: 2rem;
	margin-right: 2rem;
}
nav>ul {
	font-size: calc(1.5vw);		
}
li {
	display: inline-block;
}
a {
	text-decoration: none;
	color: var(--col_font_nav);
	padding: 1.5rem;	
}
a[href="https://wa.me/9037403658"], a[href="tel:+7 (903) 740 36 58"] {
	color: black;	
}
section {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 1rem;	
}
.about {
	display: flex;
	align-items: center;
	margin-top: 10rem;
	padding: 1rem;
	border-bottom: var(--col_bord);
}
.about img {
	width: 4rem;
	height: 4rem;
	margin-left: 2rem;
	margin-right: 2rem;
}
h2 {
	font-size: 3rem;
	color: var(--col_h2);	
}
.contact-type, .block {	
	display: flex;	
	justify-content: space-around;
	align-items: center;
}
.block {	
	display: flex;	
	flex-direction: column;
	align-items: center;
}
.pic.navig {
	margin: auto;			
	background-size: contain;
	background-repeat: no-repeat;	
}
.text {
	font-size: 2rem;	
}
.map {
	display: flex;
}
.mapiskra {	
	margin: auto;
}
img[alt="Проезд к питомнику"] {
	width: calc(80vw);	
} 