@font-face {
	src: url(../fonts/9202.otf);
	font-family: "Helvetica";	
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	--col_logo: rgb(70, 99, 67); /*логотип + фон заголовков секций на зел. фоне*/
	--bgc: rgb(143, 211, 162);/*фон header footer*/
	--col_h2: rgb(64, 124, 76);/*фон заголовков секций*/
	--col_bord: 2px solid rgb(209, 208, 208);
	--col_font_nav: rgb(255, 255, 255);/*белый для шрифта*/
	--col_font_part: rgb(243, 193, 64);/*красный для шрифта*/	
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10rem;	
	padding-right: 4rem;	
	background-color: var(--bgc);
	font-size: calc(3vw);
	font-weight: bold;
	letter-spacing: 1.2px;
}
.logo {
	background-image: url(../img/logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 30rem;
	height: 25rem;		
} 
.whatsapp {
	display: flex;
	align-items: center;
	color: var(--col_logo);	
	text-align: center;	
}
.tel img {
	height: 6rem;
	width: 6rem;	
}
img[alt="Написать в whatsapp"] {
	height: 45px;
	width: 45px;	
}
nav>ul {
	font-size: calc(1.5vw);		
}
li {
	display: inline-block;
}
a {
	text-decoration: none;
	color: var(--col_font_nav);
	padding: 1.5rem;	
}
.container {
	position: relative;
	margin: 35px auto 0;
	width: 300px;
	height: 534px;
	background-color: orange;	
	overflow: hidden;
}
#toggle {
  display: none;
}
#toggle:checked {
	& ~ .nav {
  }
}
$transition-duration: 0.5s;
.nav-item {
  position: relative;
  display: inline-block;
  float: left;
  clear: both;
  color: transparent;
  font-size: 14px;
  letter-spacing: -6.2px;
  height: 7px;
  line-height: 7px;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scaleY(0.2);
  transition: $transition-duration, opacity 1s;

  
  &:nth-child(1) {
    letter-spacing: -8px;
  }

  
  &:nth-child(2) {
    letter-spacing: -7px;
  }

  
  &:nth-child(n + 4) {
    letter-spacing: -8px;
    margin-top: -7px;
    opacity: 0;
  }

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #EC7263;
    transform: translateY(-50%) scaleY(5);
    transition: $transition-duration;
  }
}
$transition-duration: 0.5s;
#toggle:checked {  
  & ~ .nav {    
    .nav-item {
      color: #EC7263;
      letter-spacing: 0;
      height: 40px;
      line-height: 40px;
      margin-top: 0;
      opacity: 1;
      transform: scaleY(1);
      transition: $transition-duration, opacity 0.1s;
  
      // Скрываем линии
      &:before {
        opacity: 0;
      }
    }
  }
}
































