@font-face {
	src: url(../fonts/9202.otf);
	font-family: "Helvetica";	
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	--col_logo: rgb(70, 99, 67); /*логотип + фон заголовков секций на зел. фоне*/
	--bgc: rgb(143, 211, 162);/*фон header footer*/
	--col_h2: rgb(64, 124, 76);/*фон заголовков секций*/
	--col_bord: 2px solid rgb(209, 208, 208);
	--col_font_nav: rgb(255, 255, 255);/*белый для шрифта*/
	--col_font_part: rgb(223, 103, 97);/*красный для шрифта*/
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10rem;	
	padding-right: 4rem;	
	background-color: var(--bgc);
	font-size: calc(3vw);
	font-weight: bold;
	letter-spacing: 1.2px;
}
.logo {
	background-image: url(../img/logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 30rem;
	height: 25rem;		
} 
.tel {
	display: flex;
	align-items: center;
	color: var(--col_logo);	
	text-align: center;	
}
.tel img {
	height: 6rem;
	width: 6rem;	
}
img[alt="Написать в whatsapp"] {
	height: 45px;
	width: 45px;	
}
nav>ul {
	font-size: calc(1.5vw);		
}
li {
	display: inline-block;
}
a {
	text-decoration: none;
	color: var(--col_font_nav);
	padding: 1.5rem;	
}
.second-floor li {
	display: block;
	font-size: calc(1.2vw);	
	padding-top: 1.5rem;
}
.retail {
	padding-bottom: 1.5rem;
}
/*.second-floor {
	display: block;	
	position: absolute;
	border-radius: 20px;
	opacity: 0;
	transition-property: opacity;	
	transition: 0.7s ease-in-out;
	background-color: var(--bgc);	
}
.plant:hover .second-floor {	
	opacity: 1;	
}*/
.second-floor {
	display: none;	
	position: absolute;
	border-radius: 2rem;	
	background-color: var(--bgc);	
}
.plant:hover .second-floor {	
	display: block;	
}
section {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.about {
	display: flex;
	align-items: center;
	margin-top: 10rem;
	padding: 1rem;
	border-bottom: var(--col_bord);
}
.about img {
	width: 4rem;
	height: 4rem;
	margin-left: 2rem;
	margin-right: 2rem;
}
.about h2 {
	font-size: 3rem;
	color: var(--col_h2);	
}
.text-about {
	padding: 1.5rem 3rem;
	font-size: 2rem;	
	text-align: justify;
}
.nav-website, .logo-flower {
	display: flex;	
	justify-content: center;
	padding: 3rem;	
}
.nav-block {
	display: flex;
	flex-direction: column;
	border: var(--col_bord);
	border-radius: 2rem;
	width: 23rem;
	height: 26rem;
	margin-bottom: 3rem;
	
} 
.title {
	background-color: var(--bgc);
	border-radius: 2rem;
	padding: 2rem;
	font-size: 2rem;
	text-align: center;
	color: var(--col_logo);
}
.pic {
	margin: auto;			
	background-size: contain;
	background-repeat: no-repeat;
	width: 7rem;
	height: 12rem;
}
.pic.plant {
	background-image: url(../img/planticon.png);
}
.pic.photo {
	background-image: url(../img/photo.png);
}
.pic.flower {
	background-image: url(../img/arrows.png);
}
.pic.service {
	background-image: url(../img/service.png);
}
.pic.contacts {
	background-image: url(../img/tel.png);
}



